<html>
  <head>
    <title>dcpu javascript emulator</title>
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <style>
      textarea {font-family:"Courier New", Courier, monospace;}
      #t {background-color: #eee; padding:5px;}
      #hex, #asm {padding: 5px;}
      #console {background-color: #00f; color: #fff;}
    </style>
  </head>
  <body>
    <div id="container">
      <span style="font-size: 36px; font-weight: bold;">dcpubin</span>
      <a href="http://0x10c.com/doc/dcpu-16.txt">dcpu spec</a>
      <% if (show_copy) { %>
      <input type="text" size=40 name="asdfasdf" value="http://dcpubin.com/<%= prog.shortid %>"></input>
      <!-- clippy -->
      <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
              width="110"
              height="14"
              id="clippy" >
	<param name="movie" value="/swf/clippy.swf"/>
	<param name="allowScriptAccess" value="always" />
	<param name="quality" value="high" />
	<param name="scale" value="noscale" />
	<param NAME="FlashVars" value="text=http://dcpubin.com/<%= prog.shortid %>">
	<param name="bgcolor" value="#fff">
	<embed src="/swf/clippy.swf"
               width="110"
               height="14"
               name="clippy"
               quality="high"
               allowScriptAccess="always"
               type="application/x-shockwave-flash"
               pluginspage="http://www.macromedia.com/go/getflashplayer"
               FlashVars="text=http://dcpubin.com/<%= prog.shortid %>"
               bgcolor="#fff"
	       />
      </object>
      <!-- end clippy -->
      
      <% } %>
      <form method="POST" action="/new">
      <input type="submit" value="SAVE PROGRAM"></input>
      <p/>
      <p/>
      <div id="asm" style="position:relative; float:left;">
	Assembly
	<br/>
	<button onClick="javascript:assemble(); return false;" value="assemble" >ASSEMBLE</button>
	<button onClick="javascript:assemble();reset_cpu();hexload(); return false;" value="asm,rst,load">ASM, RST, LOAD</button>
	<br/>
	<button onClick="javascript:assemble();reset_cpu();hexload();main(); return false;" value="asm,rst,load">ASM, RST, LOAD, RUN</button>
	<br/>
	<textarea id="assembly" name="prog" rows=80 cols=40 wrap="off"><%= prog.prog %></textarea>
      </div>
      <div id="hex" style="position:relative; float:left;">
	Hex program. One word per line.
	<br/>
	<button onClick="javascript:reset_cpu(); return false;" value="stop" >RESET</button>
	<button onClick="javascript:hexload(); return false;" value="stop" >LOAD</button>
	<br/>
	<button onClick="javascript:try{main();}catch(e){_trace(e,true);}return false;" value="go" >RUN</button>
	<button onClick="javascript:running=false; return false;" value="stop" >STOP</button>
	<button onClick="javascript:try{step();}catch(e){_trace(e,true);} return false;" value="stop" >STEP</button>
	<br/>
	<textarea id="hexbin" name="hex" rows=80 cols=20 wrap="off"><%= prog.hex %></textarea>
      </div>
      <div id="t" style="position:relative; float:left;">
	Registers/RAM: <input type="checkbox" id="enramconsole" checked="checked"></input>
	<br/>
	<pre id="ramconsole" style="height:auto; width:auto; margin-bottom:10px;"></pre>
	<hr/>
	Trace: <input type="checkbox" id="entrace" checked="checked"></input>
	<br/>
	<button onClick="javascript:document.getElementById('trace').innerText='';return false;">Clear</button>
	<br/>
	<pre id="trace" style="height:400px; width:auto; overflow:auto;"></pre>
      </div>
      <div id="c" style="position:relative; width:auto; float:left; margin-left: 20px;">
	Console (32x16):
	<br/>
	<pre id="console"></pre>
      </div>
      <br clear="all">
      </form>
    </div> <!-- container -->
	<!-- resources -->
	<p/>
	Resources:
	<p/>
	<a href="https://github.com/jazzychad/dcpu-js">javascript emulator source</a>
	<br/>
	<a href="https://github.com/jazzychad/dcpu-asm">sample dcpu programs</a>
	<br/>
	<p/>
	<!-- end resources -->

    <script type="text/javascript" src="/js/dcpu.js"></script>
    <script type="text/javascript" src="/js/assembler.js"></script>
    
    <script type="text/javascript">
      
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-897151-23']);
      _gaq.push(['_trackPageview']);
      
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      
    </script>
    <img src="//whos.amung.us/swidget/cswn84ek20ub.gif" width="1" height="1" border="0" />
  </body>
</html>

