<div class="container">
  <div class="row">
    <div class="span10 offset1">
      <h1>Newest Programs</h1>
      <table class="table table-striped table-bordered">
	<thead>
	  <tr>
	    <th>Views</th>
	    <th>Link</th>
	    <th>Title</th>
	    <th>Author</th>
	    <th>Forked From</th>
	  </tr>
	</thead>
	<tbody>
	  <% for(var i = 0, _len = progs.length; i < _len; i++) { var prog = progs[i] -%>
	     <tr>
	       <td><%= prog.views -%></td>
	       <td><a href="/<%= prog.shortid -%>"><%= prog.shortid -%></a></td>
	       <td><%= prog.title || "" -%></td>
	       <td><%= prog.auth || "anonymous" -%></td>
	       <td><a href="/<%= prog.fork -%>"><%= prog.fork || "" -%><a/></td>
	     </tr>
	  <% } -%>
	</tbody>
      </table>
      <ul>
      </ul>
    </div>
  </div>
  <footer class="footer">
    <hr/>
    &copy; dcpubin
  </footer>
</div>
